<div class="container-fluid bg-secondary p-5">
  <div class="row d-flex justify-content-center">
    <a routerLink="/inicio" class="text-decoration-none text-white font-weight-bold"> << Inicio</a>
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h2>Cadastre um novo tema:</h2>
      <input type="text" name="tema" id="tema" class="form-control w-50" />
      <button class='btn btn-dark mt-3'>Cadastrar Tema</button>
    </div>
  </div>
</div>
<hr>
<div class="container mt-5">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
